* {
    margin: 0;
    padding: 0;
}

.row {
    width: 1200px;
    height: 5em;
    border: thin black solid;
    margin: 25px auto;
    overflow: auto; /* holds the shifts inside the box */
}

.schedule {
    @extend .row; 
    text-align: center;
    font-weight: 700;
    text-decoration: underline; 
    height: 1.5em;
    vertical-align: bottom;
    margin-bottom: 0px;
}

.schedule + * {
    margin-top: 0px;
}

.column {
    min-width: 48px;
    width: 49px;
    height: 100%;
    float: left;
//    display: inline-block;
    overflow: visible;
    border-right: thin black dashed; 
}

.shift {
//    float: left;
//    display: inline-block;
    border: thin black solid;
    min-width: 50px;
//    maxHeight: 2em;
    height: 2.5em;
//    margin: 2px 3px;
    z-index: 10;
    text-align: center;
}