* {
    margin: 0;
    padding: 0;
}

$name: 75px;

.rowContainer {
    width: 1200px + $name + 4;
    .row {
	width: 1200px;
	height: 50px;
        display: inline-block;
	border: thin black solid;
	//margin: 5px auto;
	overflow: auto; /* holds the shifts inside the box */
    }
    .name  {
        width: $name;
        float: left;
        display: inline-block;
        text-align: center; 
        word-wrap: break-word;
    }
}

.schedule {
    @extend .row; 
    text-align: center;
    font-weight: 700;
    text-decoration: underline; 
    height: 2em;
    vertical-align: top;
    margin-bottom: 0px;
    margin-left: $name + 1;
    z-index: -10;
    position: relative;
}

.schedule + * {
    margin-top: 0px;
}
// Not used in version 3
.column {
    min-width: 48px;
    width: 49px;
    height: 100%;
    float: left;
    overflow: visible;
    border-right: thin black dashed; 
}

.shift {
    display: inline-block;
    border: thin black solid;
    min-width: 50px;
    width: 200px; /* Based on Current Math for a 4 hour shift */ 
    height: 2.5em;
//    margin: 2px 3px;
    z-index: 10;
    text-align: center;
    left: -5px;
    .close {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 0.75em;
        color: #CCC;
    }
}