@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,700);
/* Basic Reset */
* {
  margin: 0;
  padding: 0; }

/* width of the name block */
body {
  background-color: #2C3E50;
  color: #2C3E50;
  font-family: "Yanone Kaffeesatz", serif;
  font-size: 16px; }

#eventContainer {
  background-color: #95A5A6; }

#eventName {
  margin: 1% 2%;
  color: #27AE60; }

.day {
  margin-bottom: 3%; }
  .day h3 {
    margin: 1% 3% 0 0; }

.rowContainer {
  width: 1279px; }
  .rowContainer .row, .rowContainer .schedule {
    width: 1200px;
    display: inline-block;
    border: thin black solid;
    overflow: auto;
    /* holds the shifts inside the box */ }
  .rowContainer .name {
    width: 75px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    word-wrap: break-word; }

.schedule {
  text-align: center;
  font-weight: 700;
  text-decoration: underline;
  vertical-align: top;
  margin-bottom: 0px;
  margin-left: 76px;
  z-index: 5;
  position: absolute; }

.schedule + * {
  margin-top: 1em; }

.column {
  min-width: 48px;
  width: 49px;
  height: 100%;
  float: left;
  overflow: visible;
  color: #C0392B;
  border-right: thin #C0392B dashed; }

.shift {
  background-color: #ECF0F1;
  display: inline-block;
  border: thin black solid;
  min-width: 50px;
  width: 200px;
  /* Based on Current Math for a 4 hour shift */
  z-index: 10;
  text-align: center;
  left: -5px; }
  .shift .close {
    cursor: pointer;
    position: absolute;
    top: 1px;
    left: 1px;
    margin: 3px;
    font-size: 0.75em;
    width: 1em;
    height: 1em;
    text-align: center;
    color: #CCC; }
    .shift .close:hover {
      color: #ffffff;
      margin: 0;
      background-color: #ff0000;
      border-radius: 50px 50px 50px 50px;
      -moz-border-radius: 50px 50px 50px 50px;
      -webkit-border-radius: 50px 50px 50px 50px;
      border: 3px solid red; }

/* Style for the Menu box */
#tabs {
  width: 60%;
  height: 140px;
  margin: 32px auto;
  border: thin solid black;
  font-size: 10px; }
  #tabs div {
    padding-left: 2%; }

h1 {
  color: #27AE60; }

ul li {
  margin-left: 2em; }
