* {
  margin: 0;
  padding: 0; }

.rowContainer {
  margin: 0 auto; }
  .rowContainer .row, .rowContainer .schedule {
    width: 1200px;
    height: 5em;
    border: thin black solid;
    overflow: auto;
    /* holds the shifts inside the box */ }
  .rowContainer .name {
    width: 50px;
    position: relative;
    left: -50px; }

.schedule {
  text-align: center;
  font-weight: 700;
  text-decoration: underline;
  height: 2em;
  vertical-align: top;
  margin-bottom: 0px;
  z-index: -10;
  position: relative; }

.schedule + * {
  margin-top: 0px; }

.column {
  min-width: 48px;
  width: 49px;
  height: 100%;
  float: left;
  overflow: visible;
  border-right: thin black dashed; }

.shift {
  border: thin black solid;
  min-width: 50px;
  height: 2.5em;
  z-index: 10;
  text-align: center; }
